*{
    margin:0px;
    padding:0px;
}
.mainmenu{
    display: flex;
    justify-content:space-evenly;
    position:relative;
    background-color: rgb(12, 12, 12);
    color:white;
    align-items: center;
}
.mainmenu li{
  list-style-type: none;
  padding: 10px;
}
.dropdown{
    position: absolute;
    background-color: rgb(12, 12, 12);
    color: white;
    display: none;
}
.dropdownc:hover .dropdown{
   display: block;
   margin-top: 10px;
   box-shadow: 0px 10px 10px gray;
}
li:hover{
    background-color: rgb(236, 162, 1);
}
.dropdown1{
    position: absolute;
    background-color: rgb(12, 12, 12);
    color: white;
    display: none;
}
.dropdownc1:hover .dropdown1{
   display: block;
   margin-top: 10px;
   box-shadow: 0px 10px 10px gray;
   left:100px;
}

.dropdown2{
    position: absolute;
    background-color: rgb(12, 12, 12);
    color: white;
    display: none;
}
.dropdownc2:hover .dropdown2{
   display: block;
   margin-top: 10px;
   box-shadow: 0px 10px 10px gray;
   left:100px;
}

